<style>
#reservacionDiv{
    position: relative;
    width: 95%;
    height: 95%;
    background-color: rgba(56,127,164,0.5);
    background-size: cover;
    top: 2.5%;
    left: 2.5%;
    text-align: center;
    color: #FFF;
}
#eventoView{
    background-image: url("../../components/images/backgroundGeneral.png");
    background-size: cover;
}
.tituloReservacion{
    color: #003943;
    margin-top: -4%;
    font-family: mySecondFont;
}
.contenidoReservacion{
    color: #FFF;
    z-index: 1;
}
.contenidoReservacion2{
    color: #FFF;
    margin-top: -3%;
}
</style>

    
<super-navbar>
<super-navbar-title>POLITICAS</super-navbar-title>
  </super-navbar>
<div  class="padding" >
<body id="eventoView">
    <div  id="reservacionDiv" >
        <div><img src="../../components/images/cancel.png" onclick="goBack();" align="right" height="30" width="30"></div><br>      <br> 
        <h3 class="contenidoReservacion">POLITICAS</h3>      
        <h4 class="tituloReservacion">TÉRMINOS DE USO</h4> <br>      <br>      
        <div style="position:relative; width:80%; height:80%; left:10%; text-align:left;"><p id="politicas"></p><div>
    </div>   
</div>
</body>

<script>
supersonic.ui.views.current.whenVisible( function() {
    $("#politicas").html(localStorage.getItem("politicas"));  
});    
</script>