<super-navbar>
  <super-navbar-title>
    Registro
  </super-navbar-title>
</super-navbar>
<div  class="padding">
  <form id ="registerForm">
    <div class="list">
      <label class="item item-input">
        <input type="text" name= "nombre" placeholder="Nombre">
      </label>
      <label class="item item-input">
        <input type="text" name= "correo" placeholder="Correo electrónico">
      </label>
      <label class="item item-input">
        <input type="password" name= "contrasegna" placeholder="Contraseña">
      </label>
      <label class="item item-input">
        <input type="text" name= "telefono" placeholder="Teléfono">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Sexo
        </div>
        <select name= "sexo">
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </label>
      Cumpleaños
      <label class="item item-input item-select">
        <div class="input-label">
          Día
        </div>
        <select name= "cumpleDia">
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        </label>
        <label class="item item-input item-select">
        <div class="input-label">
          Mes
        </div>
        <select name= "cumpleMes">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
        </label>
        <label class="item item-input item-select">
        <div class="input-label">
          Año
        </div>
        <select name="cumpleAgno" id= "cumpleAgno">
        </select>
        </label>
     <label class="item item-input">
        <input type="text" name= "codigo" placeholder="Código VIP">
      </label>
     <ul class="list">

      <li class="item item-toggle">
         Notificaciones
         <label class="toggle toggle-assertive">
           <input type="checkbox" name="notificaciones" checked>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>
    </div>
    <div class="button-bar">
      <a class="button button-dark" onclick="registrarUsuario()">Registrate</a>
    </div>
  </form>

</div>
<!--Haciendo el Calendario-->
<script>
  $(function() {
    supersonic.ui.navigationBar.hide();
    var fecha = new Date();
    var agno = fecha.getFullYear();
    var i,a;
    var edad_max = 60;
    var edad_min = 18;
    for(a= (agno - edad_max); a < (agno - edad_min); a++){
      var msg = $("<option value ="+a+" >"+ a+"</option>");                                
      $("#cumpleAgno").append(msg);
    }
  });  
</script>